<div class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <h1 class="text-center">Cadastro de Professores</h1>
            <form [formGroup]="formGroupProfessor">

                <div class="mb-3">
                  <label for="inputName" class="form-label">Nome: </label>
                  <input formControlName="nome"  type="text" class="form-control" id="inputNome" placeholder="Digite o seu nome">
                </div>
                

                <div class="mb-3">
                    <label for="inputDisciplina" class="form-label">Disciplina:</label>
                    <input formControlName="disciplina"  type="text" class="form-control" id="inputDisciplina" placeholder="Digite sua disciplina">
                </div>
      
              
              <div class="btn-container">
                <button *ngIf="!isEditing" class="btn btn-primary" (click)="onClickSave()"  >Salvar</button>
                <button *ngIf="isEditing"  class="btn btn-primary" (click)="onClickConfirmUpdate()" >Alterar</button>
                <button class="btn btn-primary ms-2" (click)="onClickClear()">Limpar</button>
              </div>
              
            </form>

              <h1 class="text-center">Professores Cadastrados</h1>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Remover</th>
                    <th scope="col">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of professores">
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nome}}</td>
                     <td>{{ p.disciplina }}</td>
                    <td><button class="btn btn-danger" (click)="onClickDelete(p)"  >Remover</button>   </td>
                    <td><button class="btn btn-primary" (click)="onClickUpdate(p)"  >Editar</button>   </td>

                  </tr>
                </tbody>
              </table>


        </div>
    </div>    
</div>
