
.container {
    background-color: #ee54a1;
    margin-top: 50px;
    border-radius: 30px;
    padding: 20px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;

}

label {
  font-weight: bold;

}

.btn-container {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
  }

.btn-container .btn {
   background-color: #b90660;
    color: white;
    margin-bottom: 15px;
    width: 30%;
    justify-content: center;
    font-weight: bold;
    border: 1px solid white;

}
